
button::-moz-focus-inner {padding:0;border:0;}
* {margin:0; padding:0; font-size:12px; color:#5a5a5a; font-family:Arial, Helvetica, sans-serif;}
a {outline:none; text-decoration:none; background-color:transparent; font-size:inherit; color:inherit;}
ul{ list-style-type:none;}
b,u,i,strong,font,span,em,strike,sub,sup,div {color:inherit;font-size:inherit;}
img {border:none;}

h1 {
  font-family: Helvetica;
  font-weight: inherit;
  font-size: 20px;
  color: #5a5a5a;
}
h2 {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  color: #51a3cc;
  text-align: center;
  margin-bottom: 35px;
}
h3 {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold;
  color: #51a3cc;
  margin-top: 28px;
  margin-bottom: 30px;
}

h5 { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#5a5b5b; line-height:17px; }
ul{ }

p {
  font-family: Helvetica;
  font-size: 13px;
  #color: #5a5a5a;
  margin-bottom: 20px;
}

html {height: 100%;}
body {
  height: 100%;
  min-height: 100%;
  position: relative;
  background:#FFF top center;
  font-size:14px;
  color:#5a5a5a;
  z-index:1;
}

footer {
  display:block;
  z-index:6;
  bottom: 0;
  background-color: #fdfdfd;
  height: 335px;
  width:100%;
  position: relative;
}

section {
  width:100%;
  z-index:5;
  font-size:inherit;
  color:inherit;
}
.container{
  width:960px;
  display:block;
  margin:0 auto;
}
.baner{
  height:427px;
  margin:0 auto;
  background:url(../images/bg_footer.png) bottom center no-repeat;
}
header {
  width: 100%;
  height: 108px;
  background-image: url("../images/header_bg_01.png");
  background-repeat: repeat-x;
}
header h1 {
  font-style: oblique;
  font-weight: bold;
  display: inline-block;
  float: right;
  margin-top: 50px;
}
b {
  color: #51a3cc;
}
header h1 a {
  text-decoration: underline;
}
.logo {
  float: left;
  margin-top: 30px;

}
.container h1 {
  text-align: center;
  margin-top: 45px;
}

.contact_us {
  width: 30%;
  display: inline-block;
  float:left;
  padding-left: 20px;
  box-sizing: border-box;
  margin: 0;
}
.under_const {
  width: 40%;
  display: inline-block;
  float: right;
  box-sizing: border-box;
  margin: 0;
  padding-left: 20px;
}
.clearfix {
  clear: both;
}
form {
  margin-top: 24px;


}
input {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding-left: 5px;
}
textarea {
  width: 100%;
  height: 53px;
  margin-bottom: 15px;
  resize: none;

}
select {
  width: 90%;
  margin-bottom: 15px;

}
button {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#bdbebe));
  padding: 3px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 10px;
  color: #51a3cc;
  text-align: center;
  margin-bottom: 15px;
}
.dark_bg {
  width: 100%;
  height: 60px;
  background-color: #eeeeee;
  position: absolute;
  bottom: 0;
}
.dark_bg p {
  color: #979595;
  size: 12px;
  margin-top: 28px;
}